.main {
  padding: 20px 65px;
}

.fieldsetStyle {
  border-radius: 30px;
  border: 2px #000 solid;
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
}

.fieldsetStyle textarea {
  border-radius: 20px;
  resize: none;
  padding: 20px;
}

.formField label {
  padding: 0px 10px 0px 0px ;
}

.formField input {
  padding: 20px ;
  width: 20px;
  height: 16px;
  margin-top: 5px;
  align-items: center;
}

.errorSection {
  color: red;
  font-size: 12px;
}